
	:root {
	--_id:5ee0f564-d164-4733-8f14-0f8114a0f15c;
--name:first Theme;
--header-backgroundColor-light:FFFFFF;
--header-backgroundColor-dark:FFFFFF;
--header-shopNameFont:Arial;
--header-tabFont:Arial;
--header-shopNameFontColor-light:033DFC;
--header-shopNameFontColor-dark:033DFC;
--header-tabFontColor-light:FFFFFF;
--header-tabFontColor-dark:FFFFFF;
--header-activeTabUnderlineColor-light:FFFFFF;
--header-activeTabUnderlineColor-dark:FFFFFF;
--navbar-backgroundColor-light:FFFFFF;
--navbar-backgroundColor-dark:FFFFFF;
--navbar-font:Arial;
--navbar-fontColor-light:FFFFFF;
--navbar-fontColor-dark:FFFFFF;
--navbar-searchInputBackgroundColor-light:FFFFFF;
--navbar-searchInputBackgroundColor-dark:FFFFFF;
--footer-backgroundColor-light:FFFFFF;
--footer-backgroundColor-dark:FFFFFF;
--footer-font:Arial;
--footer-fontColor-light:FFFFFF;
--footer-fontColor-dark:FFFFFF;
--cartPreview-backgroundColor-light:FFFFFF;
--cartPreview-backgroundColor-dark:FFFFFF;
--cartPreview-mainCTABackgroundColor-light:FFFFFF;
--cartPreview-mainCTABackgroundColor-dark:FFFFFF;
--cartPreview-secondaryCTABackgroundColor-light:FFFFFF;
--cartPreview-secondaryCTABackgroundColor-dark:FFFFFF;
--cartPreview-font:Arial;
--cartPreview-fontColor-light:FFFFFF;
--cartPreview-fontColor-dark:FFFFFF;
--cartPreview-CTAFont:Arial;
--cartPreview-mainCTAFontColor-light:FFFFFF;
--cartPreview-mainCTAFontColor-dark:FFFFFF;
--cartPreview-secondaryCTAFontColor-light:FFFFFF;
--cartPreview-secondaryCTAFontColor-dark:FFFFFF;
--body-secondPlanBackgroundColor-light:FFFFFF;
--body-secondPlanBackgroundColor-dark:FFFFFF;
--body-mainBackgroundColor-light:FFFFFF;
--body-mainBackgroundColor-dark:FFFFFF;
--body-titleFont:Arial;
--body-titleFontColor-light:FFFFFF;
--body-titleFontColor-dark:FFFFFF;
--body-textFont:Arial;
--body-textFontColor-light:FFFFFF;
--body-textFontColor-dark:FFFFFF;
--body-secondaryTextFont:Arial;
--body-secondaryTextFontColor-light:FFFFFF;
--body-secondaryTextFontColor-dark:FFFFFF;
--body-mainCTABackgroundColor-light:FFFFFF;
--body-mainCTABackgroundColor-dark:FFFFFF;
--body-secondaryCTABackgroundColor-light:FFFFFF;
--body-secondaryCTABackgroundColor-dark:FFFFFF;
--body-CTAFont:Arial;
--body-mainCTAFontColor-light:FFFFFF;
--body-mainCTAFontColor-dark:FFFFFF;
--body-secondaryCTAFontColor-light:FFFFFF;
--body-secondaryCTAFontColor-dark:FFFFFF;
--body-hyperlinkColor-light:FFFFFF;
--body-hyperlinkColor-dark:FFFFFF;
--tagWidget-mainBackgroundColor-light:FFFFFF;
--tagWidget-mainBackgroundColor-dark:FFFFFF;
--tagWidget-transparentBackgroundColor-light:FFFFFF;
--tagWidget-transparentBackgroundColor-dark:FFFFFF;
--tagWidget-secondaryBackgroundColor-light:FFFFFF;
--tagWidget-secondaryBackgroundColor-dark:FFFFFF;
--tagWidget-CTAbackgroundColor-light:FFFFFF;
--tagWidget-CTAbackgroundColor-dark:FFFFFF;
--tagWidget-font:Arial;
--tagWidget-fontColor-light:FFFFFF;
--tagWidget-fontColor-dark:FFFFFF;
--tagWidget-CTAFontColor-light:FFFFFF;
--tagWidget-CTAFontColor-dark:FFFFFF;
--tagWidget-hyperlinkColor-light:FFFFFF;
--tagWidget-hyperlinkColor-dark:FFFFFF;

  }
  body {
	@apply bg-[color:var(--body-mainBackgroundColor-dark)] text-[color:var(--body-textFontColor-dark)];
	/* Add other global styles here */
  }
  header {
	@apply bg-[color:var(--header-backgroundColor-dark)];
  }
  header .shop-name {
	@apply text-[color:var(--header-shopNameFontColor-dark)];
	font-family: var(--header-shopNameFont);
  }
  header .tab {
	@apply text-[color:var(--header-tabFontColor-dark)];
	font-family: var(--header-tabFont);
  }
  header .active-tab {
	@apply border-b-[color:var(--header-activeTabUnderlineColor-dark)] border-b border-solid;
  }
  navbar {
	@apply bg-[color:var(--navbar-backgroundColor-dark)] text-[color:var(--header-fontColor-dark)];
	font-family: var(--navbar-font);
  }
  navbar .search-input {
	@apply bg-[color:var(--navbar-searchInputBackgroundColor-dark)];
  }
  footer {
	@apply bg-[color:var(--footer-backgroundColor-dark)] text-[color:var(--footer-fontColor-dark)];
	font-family: var(--footer-font);
  }
  .cart-preview {
	@apply bg-[color:var(--cartPreview-backgroundColor-dark)] text-[color:var(--cartPreview-fontColor-dark)];
	font-family: var(--cartPreview-font);
  }
  .cart-preview .cta {
	font-family: var(--cartPreview-CTAFont);
  }
  .cart-preview .main-cta {
	@apply bg-[color:var(--cartPreview-mainCTABackgroundColor-dark)] text-[color:var(--cartPreview-mainCTAFontColor-dark)] bg-[color:var(--cartPreview-secondaryCTABackgroundColor-dark)] text-[color:var(--cartPreview-secondaryCTAFontColor-dark)];
  }
  .tag-widget {
	@apply text-[color:var(--tagWidget-mainCTAFontColor-dark)];
	font-family: var(--tagWidget-font);
  }
  .tag-widget .main {
	@apply bg-[color:var(--tagWidget-mainBackgroundColor-dark)];
  }
  .tag-widget .transparent {
	@apply bg-[color:var(--tagWidget-transparentBackgroundColor-dark)];
  }
  .tag-widget .secondary {
	@apply bg-[color:var(--tagWidget-secondaryBackgroundColor-dark)];
  }
  .tag-widget .cta {
	@apply bg-[color:var(--tagWidget-CTABackgroundColor-dark)] text-[color:var(--tagWidget-CTAFontColor-dark)];
  }
  .tag-widget .hyperlink {
	@apply text-[color:var(--tagWidget-hyperlinkColor-dark)];
  }
  