@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-shopName-fontFamily: Outfit;
	--header-tab-fontFamily: Outfit;
	--navbar-fontFamily: Outfit;
	--footer-fontFamily: Outfit;
	--cartPreview-fontFamily: Outfit;
	--cartPreview-cta-fontFamily: Outfit;
	--body-cta-fontFamily: Outfit;
	--body-title-fontFamily: Outfit;
	--body-text-fontFamily: Outfit;
	--body-secondaryText-fontFamily: Outfit;
	--tagWidget-fontFamily: Outfit;
	--header-backgroundColor: #292929;
	--header-shopName-color: #ffffff;
	--header-tab-color: #ffffff;
	--header-activeTab-textDecoration-color: #000000;
	--navbar-backgroundColor: #ededed;
	--navbar-color: #4a4a4a;
	--navbar-searchInput-backgroundColor: #ffffff;
	--footer-backgroundColor: #292929;
	--footer-color: #8d8d8d;
	--cartPreview-backgroundColor: #ffffff;
	--cartPreview-color: #000000;
	--cartPreview-mainCTA-backgroundColor: #cfcfcf;
	--cartPreview-mainCTA-color: #000000;
	--cartPreview-secondaryCTA-backgroundColor: #292929;
	--cartPreview-secondaryCTA-color: #ffffff;
	--body-mainPlan-backgroundColor: #ffffff;
	--body-secondPlan-backgroundColor: #ffffff;
	--body-title-color: #292929;
	--body-text-color: #292929;
	--body-secondaryText-color: #292929;
	--body-mainCTA-backgroundColor: #292929;
	--body-mainCTA-color: #ffffff;
	--body-secondaryCTA-backgroundColor: #000000;
	--body-secondaryCTA-color: #ffffff;
	--body-hyperlink-color: #2271b1;
	--tagWidget-main-backgroundColor: #ededed;
	--tagWidget-transparent-backgroundColor: #ffffff;
	--tagWidget-secondary-backgroundColor: #ffffff;
	--tagWidget-cta-backgroundColor: #3f83f8;
	--tagWidget-cta-color: #ffffff;
	--tagWidget-color: #000000;
	--tagWidget-hyperlink-color: #2271b1;
}

@layer base {
	html {
		@apply h-full;
	}

	body {
		@apply font-body min-h-full flex flex-col;
	}
}

@layer components {
	.page-title {
		@apply font-bold text-5xl;
	}

	.kbd {
		@apply px-2 py-1.5 text-xs font-semibold bg-gray-100 border border-gray-200 rounded-lg;
	}

	.btn {
		@apply rounded-lg border-0 cursor-pointer px-4 h-10 text-xl flex items-center justify-center font-btn;
	}

	.btn-xl {
		@apply h-[60px] text-2xl;
	}

	.btn-red {
		@apply bg-[#ff2600] text-white;
	}

	.btn-red:not([disabled]) {
		@apply hover:bg-[#ff3d1a];
	}

	.btn-green {
		@apply bg-[#00a86b] text-white;
	}

	.btn-green:not([disabled]) {
		@apply hover:bg-[#00c07f];
	}

	.btn-orange {
		@apply bg-[#ff7f00] text-white;
	}

	.btn-orange:not([disabled]) {
		@apply hover:bg-[#ff9933];
	}

	.btn-blue {
		@apply bg-link text-white;
	}

	.btn-blue:not([disabled]) {
		@apply hover:bg-[#2d83ca];
	}

	.btn-gray {
		@apply bg-gray-450;
	}

	.btn-gray:not([disabled]) {
		@apply hover:bg-gray-400;
	}

	.btn-black {
		@apply bg-gray-850 text-white;
	}

	.btn-black:not([disabled]) {
		@apply hover:bg-gray-800;
	}

	.btn[disabled],
	fieldset:disabled .btn {
		@apply cursor-not-allowed opacity-75;
	}

	.form-input {
		@apply border-gray-300 border-[1px] bg-white text-black w-full border-solid rounded pl-2 block placeholder-gray-450;
	}

	.form-input[disabled],
	fieldset:disabled .form-input {
		@apply bg-gray-100 cursor-not-allowed;
	}

	select.form-input:not([disabled]) {
		@apply cursor-pointer;
	}

	.form-input:not(textarea) {
		@apply h-10;
	}

	/* .form-input-container {
		@apply flex items-center bg-gray-100 rounded-xl text-lg;
	}

	.form-input-container > span {
		@apply text-center px-3 whitespace-nowrap;
	} */

	.text-label {
		@apply text-base font-light;
	}

	.form-label {
		@apply flex flex-col gap-2 text-label;
	}

	.checkbox-label {
		@apply flex items-center gap-2 cursor-pointer;
	}

	.form-checkbox {
		@apply cursor-pointer rounded-sm;
	}

	.form-checkbox:disabled,
	fieldset:disabled .form-checkbox {
		@apply cursor-not-allowed opacity-50;
	}

	.form-radio {
		@apply cursor-pointer;
	}

	.alert-success {
		@apply border border-green-400 p-2 text-green-600 rounded;
	}

	.alert-error {
		@apply border border-red-400 p-2 text-red-600 rounded;
	}

	.alert-warning {
		@apply border border-yellow-400 p-2 text-yellow-600 rounded;
	}

	.alert-info {
		@apply border border-blue-400 p-2 text-blue-600 rounded;
	}
	.body-secondPlan {
		color: var(--body-text-color);
		font-family: var(--body-text-fontFamily);
		background-color: var(--body-secondPlan-backgroundColor);
	}
	.body-mainPlan {
		color: var(--body-text-color);
		font-family: var(--body-text-fontFamily);
		background-color: var(--body-mainPlan-backgroundColor);
	}
	.body-title {
		color: var(--body-title-color);
		font-family: var(--body-title-fontFamily);
	}
	.body {
		color: var(--body-text-color);
		font-family: var(--body-text-fontFamily);
	}
	.body-secondaryText {
		color: var(--body-secondaryText-color);
		font-family: var(--body-secondaryText-fontFamily);
	}
	.body-mainCTA {
		background-color: var(--body-mainCTA-backgroundColor);
		color: var(--body-mainCTA-color);
	}
	.body-secondaryCTA {
		background-color: var(--body-secondaryCTA-backgroundColor);
		color: var(--body-secondaryCTA-color);
	}
	.body-cta {
		font-family: var(--body-cta-fontFamily);
	}
	.body-hyperlink {
		color: var(--body-hyperlink-color);
	}
	.header {
		background-color: var(--header-backgroundColor);
	}
	.header-shopName {
		font-family: var(--header-shopName-fontFamily);
		color: var(--header-shopName-color);
	}
	.header-tab {
		font-family: var(--header-tab-fontFamily);
		color: var(--header-tab-color);
	}
	.header-activeTab {
		text-decoration: underline --header-activeTab-textDecoration-color;
	}
	.navbar {
		background-color: var(--navbar-backgroundColor);
		font-family: var(--navbar-fontFamily);
		color: var(--navbar-color);
	}
	.navbar-searchInput {
		background-color: var(--navbar-searchInput-backgroundColor);
	}
	.footer {
		background-color: var(--footer-backgroundColor);
		font-family: var(--footer-fontFamily);
		color: var(--footer-color);
	}
	.cartPreview {
		background-color: var(--cartPreview-backgroundColor);
		font-family: var(--cartPreview-fontFamily);
		color: var(--cartPreview-color);
	}
	.cartPreview-cta {
		font-family: var(--cartPreview-cta-fontFamily);
	}
	.cartPreview-mainCTA {
		background-color: var(--cartPreview-mainCTA-backgroundColor);
		color: var(--cartPreview-mainCTA-color);
	}
	.cartPreview-secondaryCTA {
		background-color: var(--cartPreview-secondaryCTA-backgroundColor);
		color: var(--cartPreview-secondaryCTA-color);
	}
	.tagWidget {
		font-family: var(--tagWidget-fontFamily);
		color: var(--tagWidget-color);
	}
	.tagWidget-main {
		background-color: var(--tagWidget-main-backgroundColor);
	}
	.tagWidget-transparent {
		background-color: var(--tagWidget-transparent-backgroundColor);
	}
	.tagWidget-secondary {
		background-color: var(--tagWidget-secondary-backgroundColor);
	}
	.tagWidget-cta {
		background-color: var(--tagWidget-cta-backgroundColor);
		color: var(--tagWidget-cta-color);
	}
	.tagWidget-hyperlink {
		color: var(--tagWidget-hyperlink-color);
	}

	.prose {
		--tw-prose-headings: var(--body-title-color);
		--tw-prose-bold: inherit;
		--tw-prose-links: var(--body-hyperlink-color);
	}
}

@layer utilities {
	.font-mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
			'Courier New', monospace;
	}
}

/* TinyMCE upgrade button */
.tox-promotion {
	@apply hidden;
}
