@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply h-full;
	}

	body {
		@apply font-body min-h-full flex flex-col;
	}
}

@layer components {
	.page-title {
		@apply font-bold text-5xl text-gray-850;
	}

	.btn {
		@apply rounded-lg border-0 cursor-pointer px-4 h-10 text-xl flex items-center justify-center font-btn;
	}

	.btn-xl {
		@apply h-[60px] text-2xl;
	}

	.btn-red {
		@apply bg-[#ff2600] text-white;
	}

	.btn-red:not([disabled]) {
		@apply hover:bg-[#ff3d1a];
	}

	.btn-orange {
		@apply bg-[#ff7f00] text-white;
	}

	.btn-orange:not([disabled]) {
		@apply hover:bg-[#ff9933];
	}

	.btn-blue {
		@apply bg-link text-white;
	}

	.btn-blue:not([disabled]) {
		@apply hover:bg-[#2d83ca];
	}

	.btn-gray {
		@apply bg-gray-450;
	}

	.btn-gray:not([disabled]) {
		@apply hover:bg-gray-400;
	}

	.btn-black {
		@apply bg-gray-850 text-white;
	}

	.btn-black:not([disabled]) {
		@apply hover:bg-gray-800;
	}

	.btn[disabled] {
		@apply cursor-not-allowed opacity-75;
	}

	.form-input {
		@apply border-gray-300 border-[1px] bg-white w-full border-solid rounded pl-2 block text-gray-850 placeholder-gray-450;
	}

	.form-input[disabled] {
		@apply bg-gray-100 cursor-not-allowed;
	}

	select.form-input:not([disabled]) {
		@apply cursor-pointer;
	}

	.form-input:not(textarea) {
		@apply h-10;
	}

	/* .form-input-container {
		@apply flex items-center bg-gray-100 rounded-xl text-lg;
	}

	.form-input-container > span {
		@apply text-center px-3 whitespace-nowrap;
	} */

	.text-label {
		@apply text-base font-light text-gray-800;
	}

	.form-label {
		@apply flex flex-col gap-2 text-label;
	}

	.checkbox-label {
		@apply flex items-center gap-2 cursor-pointer;
	}

	.form-checkbox {
		@apply cursor-pointer rounded-sm;
	}

	.form-radio {
		@apply cursor-pointer;
	}

	.alert-success {
		@apply border border-green-400 p-2 text-green-600 rounded;
	}

	.alert-error {
		@apply border border-red-400 p-2 text-red-600 rounded;
	}

	.alert-warning {
		@apply border border-yellow-400 p-2 text-yellow-600 rounded;
	}

	.alert-info {
		@apply border border-blue-400 p-2 text-blue-600 rounded;
	}

	.body-secondPlan {
		background-color: var(--body-secondPlan-backgroundColor, white);
	}
	.body-mainPlan {
		background-color: var(--body-mainPlan-backgroundColor, white);
	}
	.body-title {
		color: var(--body-title-color, #292929);
		font-family: var(--body-title-fontFamily);
	}
	.body {
		color: var(--body-color, #292929);
		font-family: var(--body-text-fontFamily);
	}
	.body-secondaryText {
		color: var(--body-secondaryText-color, #292929);
		font-family: var(--body-secondaryText-fontFamily);
	}
	.body-mainCTA {
		background-color: var(--body-mainCTA-backgroundColor, #292929);
		color: var(--body-mainCTA-color);
	}
	.body-secondaryCTA {
		background-color: var(--body-secondaryCTA-backgroundColor, #292929);
		color: var(--body-secondaryCTA-color);
	}
	.body-cta {
		font-family: var(--body-cta-fontFamily);
	}
	.body-hyperlink {
		color: var(--body-hyperlink-color, #292929);
	}
	.header {
		background-color: var(--header-backgroundColor, #292929);
	}
	.header-shopName {
		font-family: var(--header-shopName-fontFamily);
		color: var(--header-shopName-color, white);
	}
	.header-tab {
		font-family: var(--header-tab-fontFamily);
		color: var(--header-tab-color, white);
	}
	.header-activeTab {
		text-decoration: underline --header-activeTab-textDecoration-color;
	}
	.navbar {
		background-color: var(--navbar-backgroundColor, #ededed);
		font-family: var(--navbar-fontFamily);
		color: var(--navbar-color, #4a4a4a);
	}
	.navbar-searchInput {
		background-color: var(--navbar-searchInput-backgroundColor, white);
	}
	.footer {
		background-color: var(--footer-backgroundColor, #292929);
		font-family: var(--footer-fontFamily);
		color: var(--footer-color, #8d8d8d);
	}
	.cartPreview {
		background-color: var(--cartPreview-backgroundColor, white);
		font-family: var(--cartPreview-fontFamily);
		color: var(--cartPreview-color, black);
	}
	.cartPreview-cta {
		font-family: var(--cartPreview-cta-fontFamily);
	}
	.cartPreview-mainCTA {
		background-color: var(--cartPreview-mainCTA-backgroundColor, #cfcfcf);
		color: var(--cartPreview-mainCTA-color);
	}
	.cartPreview-secondaryCTA {
		background-color: var(--cartPreview-secondaryCTA-backgroundColor, #292929);
		color: var(--cartPreview-secondaryCTA-color, white);
	}
	.tagWidget {
		font-family: var(--tagWidget-fontFamily);
		color: var(--tagWidget-color, black);
	}
	.tagWidget-main {
		background-color: var(--tagWidget-main-backgroundColor, white);
	}
	.tagWidget-transparent {
		background-color: var(--tagWidget-transparent-backgroundColor, rgb(137, 137, 137));
	}
	.tagWidget-secondary {
		background-color: var(--tagWidget-secondary-backgroundColor, rgb(255, 173, 173));
	}
	.tagWidget-cta {
		background-color: var(--tagWidget-cta-backgroundColor, rgb(63, 131, 248));
		color: var(--tagWidget-cta-color, white);
	}
	.tagWidget-hyperlink {
		color: var(--tagWidget-hyperlink-color, rgb(137, 137, 137));
	}
}

/* TinyMCE upgrade button */
.tox-promotion {
	@apply hidden;
}
